 body
 {
   overflow-x:hidden;
 }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar-header{
    border:none !important;
}
.navbar-collapse
{
  border:none !important;
}
.navbar-toggle
{
  border:none !important;
  background-color:transparent;
}
 .navbar
    {
    	background-color:#FFFFFF !important;
    	border:none !important;
    	border-radius:0px;
      overflow:hidden;
    	min-height:60px !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navbar-left
    {
        float:left;
    }
 .navbar-right
    {
        float:right;
    }
    .navbar-nav li a
    {
        margin:5px 12px;
        font-size:16px;
        margin-top:5px;
        color:#2E3F5D !important;
        font-weight:700;
        line-height: 20px;
          font-family: 'Open Sans', sans-serif;
    }
     .navbar-nav li a:hover
    {
        color:#ffffff;
    }
    .container1
    {
        margin-left:5%;
        margin-right:5%;
    }
    .container2
    {
        margin-left:5%;
        margin-right:5%;
    }
    .main
    {
        margin: 0 !important;
      max-height:auto;
    background: url(../images/london.gif) no-repeat center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;

    }
.about
{
    min-height:100vh;
}
.main h1
{
  font-family: 'Open Sans', sans-serif;
    font-size:35px;
    margin-top:80px;
    line-height:60px;
    font-weight:700;
    color:#ffffff;
    letter-spacing: 0.5px;
}
.main p
{
  font-family: 'Open Sans', sans-serif;
    font-size:22px;
    padding:10px;
    opacity:0.9;
    margin-top:10px;
    line-height:30px;
    font-weight:500;
    color:#ffffff;
    letter-spacing: 0.5px;
}
.offero
{
    border-left:10px solid #CDDC39;
    background-color:#ffffff;
}
.offero h5
{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    padding:10px;
    opacity:0.9;
    margin-top:20px;
    line-height:30px;
    font-weight:500;
    color:#000000;
    letter-spacing: 0.5px;
}
.right
    {
        border-right:2px solid #f1f1f1;
    }
    .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.regi
{
 border:1px solid #eee;
}
.split
{
    border:1px solid #f4f4f4;
    cursor:pointer;
    background-color: #ffffff;
}
.split:hover
{
  background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.checked {
    color: orange;
}
.about, .why
{
    padding-top:60px;
          font-family: 'Open Sans', sans-serif;
    
}
.display
{
   font-family: 'Open Sans', sans-serif;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.infopad
{
    background-color:#ffffff;
    color:#000000;
    padding:10px;
    font-size:18px;
    text-align:center;
    letter-spacing:0.5px;
    font-family: 'Open Sans', sans-serif;

}
.quoter label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size:16px;
     font-family: 'Open Sans', sans-serif;
}
.inspad
{
    background-color:#6897bb;
    color:#ffffff;
    padding:6px;
    font-size:12px;
    letter-spacing:0.5px;
     font-family: 'Open Sans', sans-serif;

}
.info
{
    margin-top:20px;
}
.infotab p
{
    font-size:15px !important;
    text-align: left !important;
    font-weight:400 !important;
    line-height:25px;}
.backcolor
{
    padding:2px;
    background-color:#cddc39 !important;
}
.infotab
{
    padding:10px 20px;
}
.infotab table td:first-child
{
    font-weight:700;
}
.infotab table td
{
    padding:8px 10px;
      font-size:14px;
    font-weight:500;
      font-family: 'Open Sans', sans-serif;
}
    .offers
    {
        margin-top:-60px;
          font-family: 'Open Sans', sans-serif;
          font-weight:700;
    }
    .about h2, .why h2, .split h2
    {
         font-family: 'Open Sans', sans-serif;
          font-weight:700;
          line-height:25px;
          color:#000000; 
    }
    .offers h3, .about h3, .why h3, .split h3
    {
          font-family: 'Open Sans', sans-serif;
          font-weight:700;
          line-height:30px;
          font-size:20px;
          color:#00008b;
    }
    .offers p, .livedata p, .display p 
    {
          font-family: 'Open Sans', sans-serif;
          font-weight:700;
          line-height:25px;

    }
    .livedata p
    {
      line-height:30px;
    }
    .split p
    {
      font-family: 'Open Sans', sans-serif; 
          line-height:25px;
          font-size:14px;
          letter-spacing: 0.6px;  
    }
    .about p, .why p
    {

          font-family: 'Open Sans', sans-serif; 
          line-height:35px;
          font-size:16px;
          letter-spacing: 0.6px;
    }
    .book
    {
        background-color:#ffffff !important;
        padding:10px;
        margin-top:200px ;
    }
    .taxi
    {
      width:170px;
      margin-top:-10px;
    }
    .top
    {
        padding-top:100px;
    }
.topping
{
    margin-top:70px;
}

.over
{
    max-height:100vh;
    overflow-y: scroll;
}
     .topper
     {
        padding-top:50px;
     }
.regi
{
    background-color:#ffffff;
 border:1px solid #f4f4f4;
    cursor:pointer;  
    padding:10px; 
}
.small
{
    max-width:200px;
    width:100%;
}
    input[type=text] {
        width:100%;
    padding: 12px 20px;
         min-height:45px;
    margin: 8px 0;
        color:#000000;
    box-sizing: border-box;
    background-color: #E2E2E2;
      font-family: 'Open Sans', sans-serif;
}
.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 9px 10px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.textarea {
        width:100%;
    padding: 12px 20px;
         min-height:45px;
    margin: 8px 0;
    min-height:100px;
        color:#000000;
    box-sizing: border-box;
    background-color: #E2E2E2;
      font-family: 'Open Sans', sans-serif;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
   background-color: #E2E2E2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
font-family: 'Open Sans', sans-serif;
}
.fa-arrow-left
{
   font-size:28px !important;
       font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#000000;
}
.centext
{
    margin-top:10px;
   font-size:25px !important;
       font-family: 'Open Sans', sans-serif;
    font-weight:600; 
    letter-spacing: 0.8px;
    color:#000;
}
.topit
    {
        margin-top:20px !important;
    }
.selectit {
    width:100%;
    min-height:45px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   background-color: #E2E2E2;
}

    .card {
  transition: 0.3s;
  width: 100%;
  padding:20px 30px;
  border-radius:6px;
  background-color:#ffffff!important;
}
.quoter{
    border:1px solid #cccccc;
  width: 100%;
    margin-top:5px;
  padding:10px 20px;
  background-color:#ffffff;
}
.quoter:hover
{
     transition: 0.3s;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);     
}
.topping
{
    margin-top: 80px;
}
.quoter h3
{
   font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight:700;
    text-align: center;
}
.quoter p
{
   font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:600;
    text-align: center;
    color:#000000;
}
 .cardwhite {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:#ffffff!important;
}

.cardws {
  
  transition: 0.3s;
  width: 100%;
  padding:10px;
  border-radius:0px;
  background-color:#ffffff!important;
}
.righter
{
    float:right;
    color:#000000;
     cursor: pointer;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
}
.color:hover
{
    background-color:#f4f4f4;
    cursor:pointer;
}
.buttonexplore {
    background-color: #BDD400;
    border: none;
    border-radius:3px;
    color: #000000;
    font-weight:600;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 6px 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.buttonvia {
    background-color: #BDD400;
    border: none;
    border-radius:3px;
    color: #000000;
    font-weight:600;
    letter-spacing: 0px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 6px 4px;
    cursor: pointer;
   font-family: 'Open Sans', sans-serif;
}
.buttonsmall {
    background-color: #BDD400;
    border: none;
    border-radius:3px;
    color: #000000;
    font-weight:600;
    letter-spacing: 0px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 6px 4px;
    cursor: pointer;
   font-family: 'Open Sans', sans-serif;
}
.toping
{
    margin-top:20px;
}
.pad
{
    padding:-10px -20px;
}
/*tabs*/
 .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        font-size:16px;
        line-height:24px;
      border:1px solid #eee;
       font-family: 'Open Sans', sans-serif;
        color:#555;
    }
 .invoice-box h1
{
   font-weight:700;
    font-size:25px;
    padding:5px;
}

 .invoice-box h5
{
    letter-spacing: 0.6px;
}
     @media print {

     	button
     	{
     		display: none;
     	}
     	.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
}
     }
    
    .invoice-box table{
        width:100%;
        margin-top:-20px;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        line-height:30px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        font-weight:700;
        padding:5px 10px;
        border-bottom:1px solid #ddd;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    @media print {
    .invoice-box table tr.heading td {
        background-color: #eee !important;
        -webkit-print-color-adjust: exact; 
    }
}

@media print {
    .invoice-box table tr.heading td {
        color: #000000 !important;
    }
}
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300);
.heading4{font-size:20px;font-weight:700;letter-spacing: 0.5px; font-family: 'Open Sans', sans-serif;color:#111111;margin:0px 0px 5px 0px;}
.heading1{font-size:30px;line-height:20px;font-family: 'Open Sans', sans-serif;text-transform:uppercase;color:#1b2834;font-weight:900;}
.content-quality{float:left;width:193px;}
.content-quality p{margin-left:10px;font-family:'Open Sans', sans-serif;font-size:14px;font-weight:600;line-height:17px;}
.content-quality p span{display:block;}
.tabtop li a{font-family:'Lato', sans-serif;font-weight:500;color:#1b2834;border-radius:0px;margin-right:22.008px;!important;}
.tabtop .active a:before{position:absolute;top:15px;left:82px;color:#CDDC39;font-size:30px;}
.other {background-color:#e2e2e2;font-size:20px !important;margin:0px 2px;border-top-left-radius:4px;border-top-right-radius:4px;border:none !important;}
.tabtop li a:hover{color:#000000 !important;text-decoration:none;}
.tabtop .active a:hover{color:#000000 !important;}
.tabtop .active a{background-color:#CDDC39 !important;color:#000000 !important;}
.margin-tops{margin-top:30px;}
.tabtop li a:last-child{padding:10px 22px;}
.thbada{padding:10px 28px !important;}
section p{font-family:'Lato', sans-serif;}
.margin-tops4{margin-top:20px;}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px 4px 0 0;
    font-weight:700;
    font-size:14px;
}
.services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;}
.services a:hover{color:#000;}
.services h1{margin-top:0px !important;}
.heading-container p{font-family:'Lato', sans-serif;text-align:center;font-size:20px !important;text-transform:uppercase;}
.fa-cut
{
    font-size:30px;
}
#myTable>tr>td
{
   padding:15px 0px; 
}
.coupon {
  padding: 20px;
  max-width: 600px;
    width:100%;
    margin-top:10px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.coupon:before {
  content: '';
  display: block;
  max-width: 600px;
    width:100%;
  height: 100%;
  position: absolute;
  margin: auto;
  z-index: -1;
  transform: scale(1.08);
}
.coupon:after {
  content: '';
  display: block;
  max-width: 600px;
    width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  border: 3px dashed #222;
}
.coupon-head {
  font-weight: 600;
  font-size: 2em;
}
.coupon-price {
  font-size: 4em;
  font-weight: 600;
  color: red;
}
.coupon-fat-text {
  font-weight: 600;
  font-size: 1.3em;
}
.coupon-small-print {
  font-style: italic;
  margin: 10px 0;
}
.coupon-expiration {
  font-weight: 600;
}
.padright
{
    border-right:2px solid #EBEBEB;
    cursor: pointer;
}


.padright:hover
{
    background-color:#f4f4f4;
}
.padno:hover
{
    background-color:#f4f4f4;
    cursor: pointer;
}
.mapcon p
{
    font-family: 'Open Sans', sans-serif; 
    font-size:14px;
     font-weight:600; 
    text-align: center;
    background-color:#cddc39;
    padding:5px 10px;
}
 #map {
      max-height:100vh;
      }
  .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.content {
    width: 100%;
  position: absolute;
  padding:5px;
  top: 60px;
  left:0px;
  background: white;
}
/*slider*/
/* carousel */
.media-carousel 
{
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 25px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 25px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}

/* End carousel */
.footer
{
    padding:10px;
    background-color:#2E3F5D;
}
.darkfooter
{
    background-color:#253754;
    padding:20px 5px 5px 5px;
    color:#ffffff;
}
.darkfooter ul li
{
    display:inline-block;
    font-family: 'Open Sans', sans-serif; 
    font-size:14px;
     font-weight:500;
    border-left:1px solid #ffffff;
    padding:0px 10px;
}
.darkfooter p
{
 font-family: 'Open Sans', sans-serif; 
    font-size:15px;
    text-align: left;
    line-height:30px;
    font-weight:700;
}
.footer p
{
  font-family: 'Open Sans', sans-serif;
    font-size:20px;
    line-height:19px;
    font-weight:700;
    padding-left:40px;
    text-align: left;
    color:#f9e109;
}
.footer ul li
{
  font-family: 'Open Sans', sans-serif;
    font-size:13px;
     list-style-type: none !important;
    text-align: left;
    padding:5px 0px;
    line-height:19px;
    color:#ffffff;  
}
.footer a
{
   color:#ffffff !important;   
}

@media (max-width:767px){
    #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

@media screen and (max-width: 600px) {
  body
  {
    overflow-x:hidden;
  }
 .about h2, .why h2, .split h2
    {
         font-family: 'Open Sans', sans-serif;
          font-weight:700;
          font-size:22px;
          line-height:20px;
          color:#000000; 
    }
    .footer-title { font-size: 18px;  }
.quote>.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
   .top
    {
        padding-top:50px;
    }
    .tabtop li a:last-child {
    padding: 10px 15px;
}
.about p, .why p {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 0.6px;
}
    .buttonexplore {
        font-size:18px;
    }
    .main
    {
        min-height:100vh;
    }
    .main p
{
  font-family: 'Open Sans', sans-serif;
    font-size:20px;
    margin-top:5px;
    line-height:50px;
    font-weight:600;
    color:#ffffff;
    letter-spacing: 0.5px;
}
    .main h1
{
  font-family: 'Open Sans', sans-serif;
    font-size:28px;
    margin-top:50px;
    line-height:50px;
    font-weight:700;
    color:#ffffff;
    letter-spacing: 0.5px;
}
  
    .footer p
{
  font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:19px;
    font-weight:700;
    padding-left:40px;
    text-align: left;
    color:#CDDC39;
}
    .darkfooter p
{
 font-family: 'Open Sans', sans-serif; 
    font-size:15px;
    line-height:30px;
    font-weight:700;
}
.footer ul li
{
  font-family: 'Open Sans', sans-serif;
    font-size:13px;
     list-style-type: none;
    text-align: left;
    padding:10px 0px;
    line-height:19px;
    color:#ffffff;  
}
      .card {
  transition: 0.3s;
  width: 100%;
  padding:20px 30px;
  border-radius:6px;
  background-color:#f4f4f4 !important;
}


}
